<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>An Online</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="../assets/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../assets/Libs/VideoPopUp/css/jquery.fancybox.css">
    <link rel="stylesheet" href="../assets/icons/iconsmind/line-icons.min.css">
    <!-- flipster -->
    <link rel="stylesheet" type="text/css" href="../assets/Libs/JqueryFlibster/jquery.flipster.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/glide.css">
    <link rel="stylesheet" href="../assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../assets/css/content-box.css">
    <link rel="stylesheet" href="../assets/css/contact-form.css">
    <link rel="stylesheet" href="../assets/css/media-box.css">
    <link rel="stylesheet" href="../assets/css/skin.css">
    <link rel="stylesheet" href="../assets/css/Style_Rtl.css">
    <link rel="icon" href="../assets/images/fassvicon.png">
    <script src="https://kit.fontawesome.com/7ecf8dac4e.js" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">

</head>
<body>
    <div id="preloader"></div>
    <nav class="menu-classic menu-fixed menu-transparent menu-one-page align-right light" data-menu-anima="fade-bottom" data-scroll-detect="true">
        <div class="container-fluid">
            <div class="menu-brand">
                <a href="index.html">
                    <img class="logo-default" src="../assets/images/logo-light.svg" alt="logo" />
                    <img class="logo-retina" src="../assets/images/logo-light.svg" alt="logo" />
                </a>
            </div>
            <i class="menu-btn"></i>
            <div class="menu-cnt">
                <ul>
                    <li class="active">
                        <a href="#Home">الرئيسيه</a>
                    </li>
                    <li>
                        <a href="#AboutUs">اعرف عنا</a>
                    </li>
                    <li>
                        <a href="#Selling">البيع</a>
                    </li>
                    <li>
                        <a href="#Features">الخصائص</a>
                    </li>
                    <li>
                        <a href="toutrial.html">الفيديوهات </a>
                    </li>
                    <li>
                        <a href="#partners">شركائنا </a>
                    </li>
                    <li>
                        <a href="FAQ.html">الاسئله </a>
                    </li>
                    <li>
                        <a href="#ContactUs">تواصل معنا </a>
                    </li>
                    
                </ul>
                <div class="menu-right">
                    <ul class="lan-menu">
                        <li class="dropdown">
                            <a href="../index.html"><img src="../assets/images/en.png" alt="" />الانجليزيه </a>
                        </li>
                    </ul>
                    <div class="menu-custom-area loginBTN">
                        <a class="btn btn-border btn-circle btn-xs " href="#">تسجيل الدخول</a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </nav>
    
    <main>
        <section id="Home" class="section-image  light section-bottom-layer BannerSection" style="background-image:url(../assets/images/bg.svg)">
            <div class="container">
<!--                <hr class="space" />-->
                <div class="row">
                    <div class="col-lg-6" data-anima="fade-in" data-time="1000">
                        <div class="HomeBanner">
                            <div class="forflx">
                                <h1>
                                    اهلا بكم فى أنا اونلاين
                                </h1>
                                <p>
                                   تمتلك سجل تجاري او لا تمتلك؛يمكنك الآن بالبطاقة الشخصية فقط انشاء متجر الكتروني مربوط بوابة دفع خاصة بك فقط و بمتجرك من مكان واحد منصة انا اونلاين.
                                </p>
                                <p>تقدم منصة انا اونلاين اول متجر الكتروني في العالم مدعوم بتكنولوجيا الذكاء الصناعي ويدعم اللغة العربية، كما يتم التحكم فيه و إدارته بواسطة لوحة تحكم من خلال تطبيق على الهاتف المحمول.   </p>
                                <p> سواء كنت تعمل في مجال المطاعم او الملابس او الالكترونيات او التجزئة  او الجملة او تجارة الكترونية أخرى مهما كان نوع المنتج،  ولا تمتلك اي خبرة تقنية يمكنك إنشاء وإعداد متجرك الالكتروني خاص بك والدومين الذي تريده خلال ٥ دقائق.</p>
                                <p> لا يشترط وجود خبرة تقنية او اجتماعات مع شركة او مبرمجين فقط ادخل عالم التجارة الاكترونية ببعض اللمسات من امام الشاشة بنفسك و بمفردك في دقائق. </p>
        
                                <a href="#" class="btn btn-sm btn-circle shadow-1 full-width-sm">تسجل الدخول لمتجرك</a>
                                
                               <a href="#Selling" class="btn btn-sm btn-circle shadow-1 full-width-sm page-scroll">نشاء متجر جديد</a>
        
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img class="width-min-835" src="../assets/images/iso-1.png" alt="" />
                    </div>
                </div>
            </div>
        </section>

        <section id="AboutUs" class="section-base  section-full-width-left section-bottom-layer AboutUsSection">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="../assets/images/iso-2.png" alt="" />
                    </div>
                    <div class="col-lg-6" data-anima="fade-right" data-time="1000">
                        <hr class="space" />
                        <h2>عن انا اونلاين</h2>
                        <p>
                            أول رجتم الكترونى في العالم يعمل بالذكاء الاصطناعي ، يتم ادارته بواسطة لوحة تحكم من خلال تطبيق على الهاتف المحمول .
                        </p>
                        <p>سواء كنت تعمل في مجال المطاعم او الموضه أو الإلكترونيات أو أي صناعة تجارة إلكترونية أخرى ، يمكنك إعداد متجرك خلال 5 دقائق فقط. </p>
                        <p>مع انا اونلاين ، لم يكن بدء متجر على الكترونى أسهل من أي وقت مضى من خلال الحل المتكامل من انا اونلاين لكل انواع الاعمال والانشطه يمكنك انشاء متجرك الالكترونىوابداء البيع عبر الانترنت فى خلال 5 دقائق فقط </p>
                        <p>الحل المتكامل يحتوى على المتجر الالكترونى وادوات التسويق والتحليل فى مكان واحد مدعوم باللغتين العربيه والانجليزية</p>
                        <a href="#" class="btn btn-circle btn-sm" style="width: max-content">اكتشف المزيد</a>
                        <hr class="space hidden-md" />
                    </div>
                </div>
            </div>
        </section>

        
        
        <section id="Features" class="section-base FeaturesSection hidden-xs">
            <h2 class="SectionTitle mb-5">خصائص متاجر انا اونلاين</h2>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="forflx" style="display: flex; height: 100%;align-items: center">
                            <ul class="icon-list icon-circle icon-list-11">
                                <li><span><i class="fas fa-check"></i></span> <p>ابداء وشغل متجرك الالكتورنى فى 5 دقائق</p></li>
                                <li><span><i class="fas fa-check"></i></span> <p>اول متجر الكترونى يتم ادارته بواسطة لوحة تحكم من خلال تطبيق على الهاتف المحمول</p></li>
                                <li> <span><i class="fas fa-check"></i></span>  <p>كل ما عليك اختيار واجهة متجرك واختيار الوان علامتك التجارية</p></li>
                                <li><span><i class="fas fa-check"></i></span>
                                    <p>استخدام الذكاء الصناعى فى التقاط صور منتجاتك وحذف الخلفيه وتغيرها  دون الحاجه  لأى خبرة تقنية</p>
                                </li>
                                <li><span><i class="fas fa-check"></i></span> 
                                    <p>بوابة دفع مربوطة وجاهزة للاستخدام وتحصيل مبيعات منتجاتك عبر الانترنت بضغطة زر</p>
                                </li>
                                <li><span><i class="fas fa-check"></i></span>
                                   <p> كل ادوات التسويق فى مكان واحد (تعديل صور المنتجات - نشر اوتوماتيكى على وسائل التواصل الاجتماعى - تسويق البريد الالكترونى - ادوات تحليل )</p>
                                </li>
                                <li><span><i class="fas fa-check"></i></span> <p>خطط متجددة واسعار تنافسيه</p> </li>
                            </ul>
                        </div>
                    </div>
<!--
                    <div class="col-lg-5 col-md-6" data-anima="fade-right" data-time="1000">
                        <img class="margin-23" src="../assets/images/phone-14.png" alt="" />
                    </div>
                    
                    <div class="col-lg-5 col-md-6" data-anima="fade-left" data-time="1000">
                        <img class="margin-23" src="../assets/images/phone-14.png" alt="" />
                    </div>
-->
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="forflx" style="display: flex; height: 100%;align-items: center">
                            <ul class="icon-list icon-circle icon-list-11">
                                <li><span><i class="fas fa-check"></i></span> <p>ابداء وشغل متجرك الالكتورنى فى 5 دقائق</p></li>
                                <li><span><i class="fas fa-check"></i></span> <p>اول متجر الكترونى يتم ادارته بواسطة لوحة تحكم من خلال تطبيق على الهاتف المحمول</p></li>
                                <li> <span><i class="fas fa-check"></i></span>  <p>كل ما عليك اختيار واجهة متجرك واختيار الوان علامتك التجارية</p></li>
                                <li><span><i class="fas fa-check"></i></span>
                                    <p>استخدام الذكاء الصناعى فى التقاط صور منتجاتك وحذف الخلفيه وتغيرها  دون الحاجه  لأى خبرة تقنية</p>
                                </li>
                                <li><span><i class="fas fa-check"></i></span> 
                                    <p>بوابة دفع مربوطة وجاهزة للاستخدام وتحصيل مبيعات منتجاتك عبر الانترنت بضغطة زر</p>
                                </li>
                                <li><span><i class="fas fa-check"></i></span>
                                   <p> كل ادوات التسويق فى مكان واحد (تعديل صور المنتجات - نشر اوتوماتيكى على وسائل التواصل الاجتماعى - تسويق البريد الالكترونى - ادوات تحليل )</p>
                                </li>
                                <li><span><i class="fas fa-check"></i></span> <p>خطط متجددة واسعار تنافسيه</p> </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>

            </div>
        </section>
                <section id="Features" class="section-base FeaturesSection visible-xs">
            <h2 class="SectionTitle mb-5">خصائص متاجر انا اونلاين</h2>
            <div class="container">
                <ul class="slider" data-options="type:carousel,arrows:false,nav:true,perView:1,perViewMd:1,perViewSm:1,perViewXs:1,gap:100,autoplay:3000">
                    <li>
                        <div class="forflx" style="display: flex; height: 100%;align-items: center">
                                <ul class="icon-list icon-circle icon-list-11">
                                <li><span><i class="fas fa-check"></i></span> <p>ابداء وشغل متجرك الالكتورنى فى 5 دقائق</p></li>
                                <li><span><i class="fas fa-check"></i></span> <p>اول متجر الكترونى يتم ادارته بواسطة لوحة تحكم من خلال تطبيق على الهاتف المحمول</p></li>
                                <li> <span><i class="fas fa-check"></i></span>  <p>كل ما عليك اختيار واجهة متجرك واختيار الوان علامتك التجارية</p></li>
                                <li><span><i class="fas fa-check"></i></span>
                                    <p>استخدام الذكاء الصناعى فى التقاط صور منتجاتك وحذف الخلفيه وتغيرها  دون الحاجه  لأى خبرة تقنية</p>
                                </li>
                                <li><span><i class="fas fa-check"></i></span> 
                                    <p>بوابة دفع مربوطة وجاهزة للاستخدام وتحصيل مبيعات منتجاتك عبر الانترنت بضغطة زر</p>
                                </li>
                                <li><span><i class="fas fa-check"></i></span>
                                   <p> كل ادوات التسويق فى مكان واحد (تعديل صور المنتجات - نشر اوتوماتيكى على وسائل التواصل الاجتماعى - تسويق البريد الالكترونى - ادوات تحليل )</p>
                                </li>
                                <li><span><i class="fas fa-check"></i></span> <p>خطط متجددة واسعار تنافسيه</p> </li>
                            </ul>
                            </div>
                    </li>
                    <li>
                        <div class="forflx" style="display: flex; height: 100%;align-items: center">
                                <ul class="icon-list icon-circle icon-list-11">
                                <li><span><i class="fas fa-check"></i></span> <p>ابداء وشغل متجرك الالكتورنى فى 5 دقائق</p></li>
                                <li><span><i class="fas fa-check"></i></span> <p>اول متجر الكترونى يتم ادارته بواسطة لوحة تحكم من خلال تطبيق على الهاتف المحمول</p></li>
                                <li> <span><i class="fas fa-check"></i></span>  <p>كل ما عليك اختيار واجهة متجرك واختيار الوان علامتك التجارية</p></li>
                                <li><span><i class="fas fa-check"></i></span>
                                    <p>استخدام الذكاء الصناعى فى التقاط صور منتجاتك وحذف الخلفيه وتغيرها  دون الحاجه  لأى خبرة تقنية</p>
                                </li>
                                <li><span><i class="fas fa-check"></i></span> 
                                    <p>بوابة دفع مربوطة وجاهزة للاستخدام وتحصيل مبيعات منتجاتك عبر الانترنت بضغطة زر</p>
                                </li>
                                <li><span><i class="fas fa-check"></i></span>
                                   <p> كل ادوات التسويق فى مكان واحد (تعديل صور المنتجات - نشر اوتوماتيكى على وسائل التواصل الاجتماعى - تسويق البريد الالكترونى - ادوات تحليل )</p>
                                </li>
                                <li><span><i class="fas fa-check"></i></span> <p>خطط متجددة واسعار تنافسيه</p> </li>
                            </ul>
                            </div>
                    </li>
                    
                </ul>


            </div>
        </section>
        
        
        <section id="Selling" class="section-base SellingSection">
            <div class="container">
                <h2 class="SectionTitl">ابيع من متجر محلي او ابيع من المنزل</h2>
                <div class="row" style="justify-content: center">
                    <div class="col-lg-4">
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-top-icon boxed">
                                <i class="im-globe"></i>
                                <div class="caption">
                                    <h2>أبيع من متجر محلى</h2>
                                    <p>
                                        لدى اوراق شركة رسمية (سجل تجارى - بطاقة ضريبية )
                                    </p>
                                    <a href="SillingStore.html" class="btn-text">ابدأ الان</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="grid-item">
                                    <div class="cnt-box cnt-box-top-icon boxed">
                                        <i class="im-bar-chart4"></i>
                                        <div class="caption">
                                            <h2>أبيع من المنزل</h2>
                                            <p>
                                                ليس لدى اوراق شركة رسمية ( لدى بطاقة رقم قومى )
                                            </p>
                                            <a href="SellingHome.html" class="btn-text">ابدأ الان</a>
                                        </div>
                                    </div>
                                </div>
                    </div>


                </div>
            </div>
        </section>
       

      
        


      
        

                <section id="Tutorials" class="section-base section-color TutorialsSection">
            <div class="container">
                <h2 class="align-center">فيديوهاتنا</h2>
                <p class="align-center width-650">
                    اول متجر الكترونى يتم ادارته بواسطة لوحة تحكم من خلال تطبيق على الهاتف المحمول
                </p>

                <div class="GroupItemsToutrials" id="carouselfilber">
                    <!--                <ul id="carouselfilber" class="slider slider-zoom-center slider-phones" data-options="type:carousel,perView:3,perViewSm:2,perViewSm:2,focusAt:center,gap:30,nav:true,controls:out,autoplay:30000">-->
                <ul  class="slider-phones">
                    <li>
                        <div class="toturialItem">
                            <div class="Image">
                                <img src="../assets/images/music/image-1.jpg">
                                <div class="iconpaly">
                                    <a href="https://www.youtube.com/watch?v=taVPgnwhZbM&list=RDtaVPgnwhZbM&start_radio=1" class="lightbox " data-type="iframe" tabindex="0"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                            <div class="ToutDatat">
                                <h2>اسم الفيديو</h2>
                                <p>معلومات عن الفيديو</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="toturialItem">
                            <div class="Image">
                                <img src="../assets/images/music/image-2.jpg">
                                <div class="iconpaly">
                                    <a href="https://www.youtube.com/watch?v=taVPgnwhZbM&list=RDtaVPgnwhZbM&start_radio=1" class="lightbox " data-type="iframe" tabindex="0"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                            <div class="ToutDatat">
                                <h2>اسم الفيديو</h2>
                                <p>معلومات عن الفيديو</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="toturialItem">
                            <div class="Image">
                                <img src="../assets/images/music/image-3.jpg">
                                <div class="iconpaly">
                                    <a href="https://www.youtube.com/watch?v=taVPgnwhZbM&list=RDtaVPgnwhZbM&start_radio=1" class="lightbox " data-type="iframe" tabindex="0"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                            <div class="ToutDatat">
                                <h2>اسم الفيديو</h2>
                                <p>معلومات عن الفيديو</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="toturialItem">
                            <div class="Image">
                                <img src="../assets/images/music/image-4.jpg">
                                <div class="iconpaly">
                                    <a href="https://www.youtube.com/watch?v=taVPgnwhZbM&list=RDtaVPgnwhZbM&start_radio=1" class="lightbox " data-type="iframe" tabindex="0"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                            <div class="ToutDatat">
                                <h2>اسم الفيديو</h2>
                                <p>معلومات عن الفيديو</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="toturialItem">
                            <div class="Image">
                                <img src="../assets/images/music/image-1.jpg">
                                <div class="iconpaly">
                                    <a href="https://www.youtube.com/watch?v=taVPgnwhZbM&list=RDtaVPgnwhZbM&start_radio=1" class="lightbox " data-type="iframe" tabindex="0"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                            <div class="ToutDatat">
                                <h2>اسم الفيديو</h2>
                                <p>معلومات عن الفيديو</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="toturialItem">
                            <div class="Image">
                                <img src="../assets/images/music/image-2.jpg">
                                <div class="iconpaly">
                                    <a href="https://www.youtube.com/watch?v=taVPgnwhZbM&list=RDtaVPgnwhZbM&start_radio=1" class="lightbox " data-type="iframe" tabindex="0"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                            <div class="ToutDatat">
                                <h2>اسم الفيديو</h2>
                                <p>معلومات عن الفيديو</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="toturialItem">
                            <div class="Image">
                                <img src="../assets/images/music/image-3.jpg">
                                <div class="iconpaly">
                                    <a href="https://www.youtube.com/watch?v=taVPgnwhZbM&list=RDtaVPgnwhZbM&start_radio=1" class="lightbox " data-type="iframe" tabindex="0"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                            <div class="ToutDatat">
                                <h2>اسم الفيديو</h2>
                                <p>معلومات عن الفيديو</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="toturialItem">
                            <div class="Image">
                                <img src="../assets/images/music/image-4.jpg">
                                <div class="iconpaly">
                                    <a href="https://www.youtube.com/watch?v=taVPgnwhZbM&list=RDtaVPgnwhZbM&start_radio=1" class="lightbox " data-type="iframe" tabindex="0"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                            <div class="ToutDatat">
                                <h2>اسم الفيديو</h2>
                                <p>معلومات عن الفيديو</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="toturialItem">
                            <div class="Image">
                                <img src="../assets/images/music/image-3.jpg">
                                <div class="iconpaly">
                                    <a href="https://www.youtube.com/watch?v=taVPgnwhZbM&list=RDtaVPgnwhZbM&start_radio=1" class="lightbox " data-type="iframe" tabindex="0"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                            <div class="ToutDatat">
                                <h2>اسم الفيديو</h2>
                                <p>معلومات عن الفيديو</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="toturialItem">
                            <div class="Image">
                                <img src="../assets/images/music/image-4.jpg">
                                <div class="iconpaly">
                                    <a href="https://www.youtube.com/watch?v=taVPgnwhZbM&list=RDtaVPgnwhZbM&start_radio=1" class="lightbox " data-type="iframe" tabindex="0"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                            <div class="ToutDatat">
                                <h2>اسم الفيديو</h2>
                                <p>معلومات عن الفيديو</p>
                            </div>
                        </div>
                    </li>

                </ul>
                </div>

            </div>
        </section>
        
        

        
                <section class="section-base section-color  section-bottom-layer CounterSection">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <hr class="space" />
                        <h2>أرقامنا لا تكذب<br />أصبح جزء من الموقع الآن.</h2>
                        <p>
                            
اول متجر الكترونى يتم ادارته بواسطة لوحة تحكم من خلال تطبيق على الهاتف المحمول
                        </p>
                        <table class="table table-grid table-border no-padding-y align-left table-auto">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="counter counter-horizontal counter-icon">
                                            <div>
                                                <h3>متاجر نشطة</h3>
                                                <div class="value text-lg">
                                                    <span data-to="150" data-speed="3000">150</span>
                                                    <span>متجر</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="col-lg-6">
                        <img class="width-min-835" src="../assets/images/iso-3.png" alt="" />
                    </div>
                </div>
            </div>
        </section>


      
      
        <section id="partners" class="section-base partnersSction">
            <div class="container">
                <ul class="slider" data-options="type:carousel,arrows:false,nav:false,perView:5,perViewMd:3,perViewSm:2,perViewXs:1,gap:100,autoplay:3000">
                    <li>
                        <img src="../assets/images/logos/logo-1.png" alt="" />
                    </li>
                    <li>
                        <img src="../assets/images/logos/logo-2.png" alt="" />
                    </li>
                    <li>
                        <img src="../assets/images/logos/logo-3.png" alt="" />
                    </li>
                    <li>
                        <img src="../assets/images/logos/logo-6.png" alt="" />
                    </li>
                    <li>
                        <img src="../assets/images/logos/logo-5.png" alt="" />
                    </li>
                    <li>
                        <img src="../assets/images/logos/logo-4.png" alt="" />
                    </li>
                </ul>
            </div>
        </section>
        
        
        <section id="ContactUs" class="section-base  ContactSectio" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="ConatctBox">
                            <form action="#" class="form-box form-ajax" method="post">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <p>الاسم بالكامل</p>
                                        <input id="name" name="name" placeholder="" type="text" class="input-text" required>
                                    </div>
                                    <div class="col-lg-6">
                                        <p>البريد اللكترونى</p>
                                        <input id="email" name="email" placeholder="" type="email" class="input-text" required>
                                    </div>
                                    <div class="col-lg-6">
                                        <p>رقم الهاتف</p>
                                        <input id="Phone" name="Phone" placeholder="" type="text" class="input-text" required>
                                    </div>
                                    <div class="col-lg-6">
                                        <p>الموضوع</p>
                                        <input id="Subject" name="Subject" placeholder="" type="text" class="input-text" required>
                                    </div>
                                </div>
                                <p>الرساله</p>
                                <textarea id="messagge" name="messagge" class="input-textarea" placeholder="" required></textarea>

                                <button class="btn btn-sm btn-circle btn-border" type="submit">ارسل رسالتك</button>

                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <hr class="space visible-md" />
                        <h2>تواصل معنا.</h2>
                        <p>
                            
اول متجر الكترونى يتم ادارته بواسطة لوحة تحكم من خلال تطبيق على الهاتف المحمول
                        </p>
                        <ul class="text-list text-list-bold">
                            <li><b>العنوان</b><p>139 Baker St, E1 7PT, London</p></li>
                            <li><b>الموقع</b><p>domain.com</p></li>
                            <li><b>البريد الالكترونى</b><p>info@domain.com</p></li>
                            <li><b>رقم الهاتف</b><p>(02) 123 456 789999</p></li>
                            <li><b>اسكاى بى</b><p>example.name</p></li>
                        </ul>
                        <hr class="space space-40" />
                        <div class="icon-links icon-social   social-colors">
                            <a class="facebook"><i class="icon-facebook"></i></a>
                            <a class="twitter"><i class="icon-twitter"></i></a>
                            <a class="instagram"><i class="icon-instagram"></i></a>
                            <a class="pinterest"><i class="icon-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        
        
        
        
        
        
        
        
        
        

    </main>
    <i class="scroll-top-btn scroll-top show"></i>
    <footer class="footer-parallax light">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h4>Company and team</h4>
                    <div class="menu-inner menu-inner-vertical">
                        <ul>
                            <li>
                                <a href="#">Company details and team</a>
                            </li>
                            <li>
                                <a href="#">News and blog</a>
                            </li>
                            <li>
                                <a href="#">Press area</a>
                            </li>
                            <li>
                                <a href="#">Affiliates and marketing</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Help and support</h4>
                    <div class="menu-inner menu-inner-vertical">
                        <ul>
                            <li>
                                <a href="#">Help centre</a>
                            </li>
                            <li>
                                <a href="#">Feedbacks</a>
                            </li>
                            <li>
                                <a href="#">Request new features</a>
                            </li>
                            <li>
                                <a href="#">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Learn more</h4>
                    <div class="menu-inner menu-inner-vertical">
                        <ul>
                            <li>
                                <a href="#">Apps stores</a>
                            </li>
                            <li>
                                <a href="#">Partners</a>
                            </li>
                            <li>
                                <a href="#">Privacy and terms</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Follow us</h4>
                    <div class="icon-links icon-social icon-links-grid social-colors">
                        <a class="facebook"><i class="icon-facebook"></i></a>
                        <a class="twitter"><i class="icon-twitter"></i></a>
                        <a class="linkedin"><i class="icon-linkedin"></i></a>
                        <a class="youtube"><i class="icon-youtube"></i></a>
                        <a class="instagram"><i class="icon-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bar">
            <div class="container">
                <span>© An Online 2013 All Right Reseved. </span>
                <span><img src="../assets/images/logo-light.svg" alt="" /></span>
            </div>
        </div>
    </footer>
    
    
    
    
        <script src="../assets/js/jquery.min.js"></script>
<script src="../assets/Libs/VideoPopUp/js/jquery-plugin-collection.js"></script>
        <script src="../assets/Libs/VideoPopUp/js/script.js"></script>
        <script src="../assets/js/main.js"></script>
        <script src="../assets/js/parallax.min.js"></script>
        <script src="../assets/js/glide.min.js"></script>
        <script src="../assets/js/magnific-popup.min.js"></script>
        <script src="../assets/js/tab-accordion.js"></script>
        <script src="../assets/js/imagesloaded.min.js"></script>
        <script src="../assets/js/contact-form/contact-form.js"></script>
        <script src="../assets/js/progress.js"></script>
        <script src="../assets/js/custom.js"></script>
        <script src="../assets/js/pageScroll.js"></script>
        <script src="../assets/Libs/JqueryFlibster/jquery.flipster.min.js"></script>
            <script>
                var carousel = $("#carouselfilber").flipster({
                style: 'carousel',
                spacing: -0.3,
                nav: false,
                buttons: true,
                loop: true,
                autoplay: 3000,
                });
                
            </script>
    

        
</body>
</html>